<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vault" href="/tabs/vault">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Vault</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="generator" href="/tabs/generator">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Generator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
